body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("sample.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #00060a;
    font-size: medium;
    background-size: auto;
}

.about-section {
    padding: 40px 20px;
}

.container {
    max-width: 900px;
    margin: auto;
}


/* Text Styling */

.title {
    font-size: 32px;
    margin: 0;
}

.subtitle {
    margin: 5px 0 20px;
    font-size: 18px;
    color: #011833;
}

.intro {
    margin-bottom: 20px;
}

h1 {
    margin-top: 20px;
    color: #140141;
}

ul {
    margin: 10px 0 10px 20px;
}

li {
    margin-bottom: 8px;
}

.small-logo {
    width: 100px;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
}

.sample {
    height: 250px;
    width: 300px;
    left: 0px;
    border-radius: 4px;
}

.intro {
    font-size: 20px;
}

.subtitle {
    font-size: 25px;
}

.title {
    font-size: 35px;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
    font-size: 20px;
}