body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f7fb;
}

header {
    background: #a4caf0;
    color: white;
    padding: 18px 30px;
    font-size: 22px;
    text-align: center;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
    gap: 25px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.big-card {
    grid-column: span 2;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.connected {
    color: green;
    font-weight: bold;
}

.status {
    font-size: 20px;
    font-weight: bold;
}

.moderate {
    color: #e67e22;
}

.graph-card canvas {
    width: 100%;
    height: 230px;
}

.alert-card {
    border-left: 6px solid red;
}

.alert-text {
    color: red;
    font-weight: bold;
}

.small-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    border-radius: 4px;
    z-index: 9999;
}